.header{
    text-align: center;
    background-color: #2E2E2E;
    color: #fff;
    margin: -14px 400px;
    padding: 0%;
}

.addTodo{
    margin: -14px 400px;
    padding-bottom: 2px;
}

.addTodoInput{
    width: 758px;
    outline: none;
    border: 1px solid #F3F2F3;
}